body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 8px;
    border: 1px solid #7c7979;
    border-radius: 12px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#login-message {
    margin-top: 15px;
}

.recipe-links{
    justify-content: center;
}